# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
data=["Data","Science","Mentorship","Program","By","CampusX"]
length=len(data);
for i in range(length):
  if(i==length-1):
    print(data[i],end='')
  else:
    print(data[i],end='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [7]:
celsius=int(input("Enter the celsius value : "))
fahrenheit=(celsius*1.8)+32
print("Fahrenheit Value",fahrenheit)

Enter the celsius value152
Fahrenheit Value 305.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
x=int(input("Enter the value of x : "))
y=int(input("Enter the value of y : "))
x=x+y
y=x-y
x=x-y
print("After Swapping")
print("Value of x : ",x)
print("Value of y : ",y)

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [8]:
x=int(input("Enter the value of x : "))
y=int(input("Enter the value of y : "))

x1=int(input("Enter the value of x1 : "))
y1=int(input("Enter the value of y1 : "))

distance=((x-x1)**2+(y-y1)**2)**0.5

print("Euclidean distance between two coordinates: ",distance)

Enter the value of x : 0
Enter the value of y : 0
Enter the value of x1 : 5
Enter the value of y1 : 5
Euclidean distance between two coordinates:  7.0710678118654755

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
p=int(input("Enter the value of p : "))
r=int(input("Enter the value of r : "))
t=int(input("Enter the value of t : "))
si=(p*r*t)/100
print("Simple Interest : ",si)

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [10]:
heads = int(input("Enter the value of heads: "))
legs = int(input("Enter the value of legs: "))

if legs % 2 != 0:
    print("Invalid input: legs must be even.")
else:
    dogs = (legs - 2 * heads) // 2
    chickens = heads - dogs

    if dogs < 0 or chickens < 0:
        print("No valid solution exists.")
    else:
        print(f"Dogs -> {dogs}, Chickens -> {chickens}")

Enter the value of heads: 4
Enter the value of legs: 12
Dogs -> 2.0, Chickens -> 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [12]:
n=int(input("Enter the value of n : "))
sum=n*(n+1)*(2*n+1)//6
print("Sum of squares of first n natural numbers : ",sum)

Enter the value of n : 10
Sum of squares of first n natural numbers :  385

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [14]:
first=int(input("Enter the value of first : "))
second=int(input("Enter the value of second : "))
n=int(input("Enter the value of n : "))
d=second-first
nth=first+(n-1)*d
print("Nth term of the series : ",nth)

Enter the value of first : 10
Enter the value of second : 13
Enter the value of n : 9
Nth term of the series :  34

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [15]:
import math

# Input from user
num1 = int(input("Enter numerator of first fraction: "))
den1 = int(input("Enter denominator of first fraction: "))
num2 = int(input("Enter numerator of second fraction: "))
den2 = int(input("Enter denominator of second fraction: "))

# Calculate LCM of denominators
lcm = (den1 * den2) // math.gcd(den1, den2)

# Adjust numerators to have common denominator
new_num1 = num1 * (lcm // den1)
new_num2 = num2 * (lcm // den2)

# Add the numerators
result_num = new_num1 + new_num2
result_den = lcm

# Simplify fraction using gcd
g = math.gcd(result_num, result_den)
result_num //= g
result_den //= g

print(f"Sum = {result_num}/{result_den}")

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
import math

# Input tank dimensions
H = int(input("Enter height of tank (cm): "))
L = int(input("Enter length of tank (cm): "))
B = int(input("Enter breadth of tank (cm): "))

# Input glass dimensions
h = int(input("Enter height of glass (cm): "))
r = int(input("Enter radius of glass (cm): "))

# Volume of tank (cuboid)
V_tank = H * L * B

# Volume of glass (cylinder)
V_glass = math.pi * r * r * h

# Number of glasses
num_glasses = int(V_tank // V_glass)  # only full glasses

print(f"Total glasses of milk = {num_glasses}")