### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# Code here

n = int(input('enter n'))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

enter n2
2.0

# Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


'* <br>
** <br>
***<br>

In [ ]:
# code here

rows = int(input('enter number of rows : '))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter number of rows : 4
*
**
***
****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
# Code here
rows = int(input('enter number of rows : '))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

enter number of rows : 6
1
121
12321
1234321
123454321
12345654321

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
# Break
for i in range(1,10):
  if i==5:
    break
  print(i);

1
2
3
4

In [ ]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for i in range(lower, upper + 1):
    if i < 2:
        continue  # Skip numbers less than 2, as they are not prime

    flag = True
    r = int(i ** 0.5) + 1

    for j in range(2, r):
        if i % j == 0:
            flag = False
            break

    if flag:
        print(f"{i} is Prime")

Enter lower range: -100
Enter upper range: 100
2 is Prime
3 is Prime
5 is Prime
7 is Prime
11 is Prime
13 is Prime
17 is Prime
19 is Prime
23 is Prime
29 is Prime
31 is Prime
37 is Prime
41 is Prime
43 is Prime
47 is Prime
53 is Prime
59 is Prime
61 is Prime
67 is Prime
71 is Prime
73 is Prime
79 is Prime
83 is Prime
89 is Prime
97 is Prime

In [ ]:
# Continue
for i in range(1,10):
  if i==5:
    continue
  print(i);

1
2
3
4
6
7
8
9

pass is a null statement in Python — it means “do nothing.”
It’s used as a placeholder when a statement is required syntactically but you don’t want any code to run.

It’s like saying:

“I’ll write this part later, but for now, don’t do anything here.”

In [ ]:
for i in range(1, 6):
    if i == 3:
        pass  # skip writing code for i == 3
    else:
        print(i)

1
2
4
5

In [ ]:
for i in range(1, 6):
    if i == 3:
        pass   # do nothing, just skip writing code
    print(i)

1
2
3
4
5

In [ ]:
# pass

x = 10

if x > 5:
    pass   # do nothing for now
else:
    print("x is small")

print("Program ended")

Program ended

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [ ]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[11])

IndexError: string index out of range

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-3])
print(s[0])
print(s[4])

r
h
o

In [ ]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

wol

In [ ]:
print(s[::-1])

dlrow olleh

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

## Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: ignored

In [ ]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [ ]:
s = 'hello world'
del s[-1:-5:2]
print(s)

TypeError: ignored

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [ ]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [ ]:
print("*"*50)

**************************************************

In [ ]:
'delhi' != 'delhi'

False

In [ ]:
'mumbai' > 'pune'
# lexiographically

False

In [ ]:
'Pune' > 'pune'

False

In [ ]:
'hello' and 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'' and 'world'

''

In [ ]:
'' or 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'hello' and 'world'

'world'

In [ ]:
not 'hello'

False

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [ ]:
'D' in 'delhi'

False

## Common Functions
- len
- max
- min
- sorted

In [ ]:
len('hello world')

11

In [ ]:
max('hello world')

'w'

In [ ]:
min('hello world')

' '

In [ ]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

Description:

Converts first character of the string to uppercase

Converts all other characters to lowercase

In [ ]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

Description:

Converts the first letter of each word to uppercase

Converts remaining letters to lowercase

In [ ]:
s.title()

'Hello World'

Description:

Converts all characters in the string to uppercase

In [ ]:
s.upper()

'HELLO WORLD'

Description:

Converts all characters in the string to lowercase

In [ ]:
'Hello Wolrd'.lower()

'hello wolrd'

5. swapcase()

✅ Description:

Converts uppercase letters → lowercase

Converts lowercase letters → uppercase

In [ ]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

## Count/Find/Index

Description:

Returns the number of times a substring appears in the string.

Does not raise an error if the substring isn’t found.

In [ ]:
'my name is nitish'.count('i')

3

Description:

Returns the index (position) of the first occurrence of a substring.

If substring not found → returns -1 (no error).

In [ ]:
'my name is nitish'.find('i')

8

In [ ]:
'my name is nitish'.find('x')

-1

Works like find(), but
❌ raises an error (ValueError) if the substring isn’t found.

In [ ]:
'my name is nitish'.index('x')

ValueError: ignored

In [ ]:
'my name is nitish'.index('i')

8

## endswith/startswith

Checks whether a string starts with a specified substring.
Returns True if yes, otherwise False.

In [ ]:
'my name is nitish'.endswith('sho')

False

Description:
Checks whether a string ends with a specified substring.
Returns True if yes, otherwise False.

In [ ]:
'my name is nitish'.startswith('1my')

False

## format

The format() method allows you to insert values into a string using placeholders {}.

It’s cleaner and safer than using + for string concatenation.

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

Description:

Checks if all characters in a string are alphanumeric (letters or numbers).

Returns True if all characters are letters or digits, otherwise False.

In [ ]:
'nitish1234%'.isalnum()

False

isalpha()

✅ Description:

Checks if all characters in a string are alphabet letters only (a–z, A–Z).

Returns True if yes, otherwise False.

In [ ]:
'nitish'.isalpha()

True

isdigit()

✅ Description:

Checks if all characters in a string are digits only (0–9).

Returns True if yes, otherwise False.

In [ ]:
'123abc'.isdigit()

False

isidentifier()

✅ Description:

Checks if a string is a valid Python identifier (variable name).

Rules for identifiers:

Can contain letters, digits, and underscores _

Cannot start with a digit

Cannot contain spaces or special characters

In [ ]:
'first-name'.isidentifier()

False

## Split/Join

Splits a string into a list of substrings based on a separator.

Default separator = whitespace

In [ ]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

Description:

Joins a list of strings into a single string, using a separator.

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

## Replace

Description:

Replaces all occurrences (or a specified number of occurrences) of a substring with another substring.

In [ ]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

'hi my name is nitish'

## Strip

Removes leading and trailing characters (by default whitespace) from a string.

Does not remove characters in the middle of the string.

In [ ]:
'nitish                           '.strip()

'nitish'

## Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the stringnitish
length of string is 6

In [2]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email : ')

pos = s.index('@')
print("username : ",s[0:pos])

st=s.split('@')
print("username : ",st[0]);

enter the email : subrata212563@gmail.com
username :  subrata212563
username :  subrata212563

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailhi how are you
what would like to search foro
frequency 2

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string : ')
term = input('what would like to remove : ')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

enter the stringnitish
what would like to removei
ntsh

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string : ')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringpython
Not a Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string : ')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the stringhi how are you
['hi', 'how', 'are', 'you']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringhi my namE iS NitiSh
Hi My Name Is Nitish

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number345
345
<class 'str'>